<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KeyWordsSearch</title>
</head>
<body>
    <p style="text-align: center"><button><a href="{{ url_for('main') }}">Main page</a></button>
    <button><a href="{{ url_for('download_file') }}">Download database</a></button>
    <button><a href="{{ url_for('search') }}">Search</a></button>
    <button><a href="{{ url_for('delete') }}">Delete</a></button>
    {% block body %}{% endblock %}
</body>
</html>