{% extends 'base.html' %}

{% block body %}
<p>Welcome to the KeyWordsSearch!<br>
Here you can create database from .csv file and work with it.<br>
You can search documents by keywords or delete this documents by id.</p>
<p>Now choose button above.</p>
<p>Note: if you want to end your session, you need to delete your database.<br>
Enter the name of the database and push this button to do it:</p>
<form method="POST">
    <input type="text" name="db_name" id="db_name" placeholder="Enter the name of db">
    <input type="submit" value="Delete DB">
</form>
{% endblock %}